table{
  border-style: solid;
  border-width: 10px;
  border-color: #3b7c50;

}
td{
  font-size: 75px;
  color: white;
  text-align: center;
  border-style: groove;
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
  border-width: 5px;
  border-color: #3b7c50;
  background-color: rgba(54,118,75, 0.25)
}
img {
  height: 85px;

}
.jumbotron h1 {
  text-align: center;
  font-size: 100px;
  background-color: black;
  color: rgba(72,156,99,1);
  font-family: fantasy;
}
.jumbotron {
  background-color: rgba(69,150,95, 0.5);
}

body {
  background-image:
    url("images/forest.jpeg");
  background-size: cover;
}
h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 15px black;
}

#counter {
  text-align: left;
}

#again {
  font-size: 20px;
}
